## Concatenar y apendizar datos

In [12]:
import pandas as pd

In [13]:
red_wine = pd.read_csv('./datasets/wine/winequality-red.csv', sep=";")
white_wine = pd.read_csv('./datasets/wine/winequality-white.csv', sep=';')

In [14]:
red_wine.columns.values

array(['fixed acidity', 'volatile acidity', 'citric acid',
       'residual sugar', 'chlorides', 'free sulfur dioxide',
       'total sulfur dioxide', 'density', 'pH', 'sulphates', 'alcohol',
       'quality'], dtype=object)

In [15]:
red_wine.shape

(1599, 12)

In [16]:
white_wine.columns.values

array(['fixed acidity', 'volatile acidity', 'citric acid',
       'residual sugar', 'chlorides', 'free sulfur dioxide',
       'total sulfur dioxide', 'density', 'pH', 'sulphates', 'alcohol',
       'quality'], dtype=object)

In [17]:
white_wine.shape

(4898, 12)

## En Python, tenemos dos tipos de ejes
    - axis = 0, denota el eje horizontal
    - axis = 1, denota el eje vertical

In [18]:
wine_data = pd.concat([red_wine, white_wine], axis= 0)

In [19]:
wine_data.shape

(6497, 12)

In [20]:
data1 = wine_data.head(10)
data2 = wine_data[300:310]
data3 = wine_data.tail(10)

In [21]:
wine_scramble = pd.concat([data1, data2, data3], axis=0)
wine_scramble

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.700,0.00,1.90,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
1,7.8,0.880,0.00,2.60,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5
2,7.8,0.760,0.04,2.30,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5
3,11.2,0.280,0.56,1.90,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6
4,7.4,0.700,0.00,1.90,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
5,7.4,0.660,0.00,1.80,0.075,13.0,40.0,0.99780,3.51,0.56,9.4,5
6,7.9,0.600,0.06,1.60,0.069,15.0,59.0,0.99640,3.30,0.46,9.4,5
7,7.3,0.650,0.00,1.20,0.065,15.0,21.0,0.99460,3.39,0.47,10.0,7
8,7.8,0.580,0.02,2.00,0.073,9.0,18.0,0.99680,3.36,0.57,9.5,7
9,7.5,0.500,0.36,6.10,0.071,17.0,102.0,0.99780,3.35,0.80,10.5,5
300,7.5,0.530,0.06,2.60,0.086,20.0,44.0,0.99650,3.38,0.59,10.7,6
301,11.1,0.180,0.48,1.50,0.068,7.0,15.0,0.99730,3.22,0.64,10.1,6
302,8.3,0.705,0.12,2.60,0.092,12.0,28.0,0.99940,3.51,0.72,10.0,5
303,7.4,0.670,0.12,1.60,0.186,5.0,21.0,0.99600,3.39,0.54,9.5,5
304,8.4,0.650,0.60,2.10,0.112,12.0,90.0,0.99730,3.20,0.52,9.2,5
305,10.3,0.530,0.48,2.50,0.063,6.0,25.0,0.99980,3.12,0.59,9.3,6
306,7.6,0.620,0.32,2.20,0.082,7.0,54.0,0.99660,3.36,0.52,9.4,5
307,10.3,0.410,0.42,2.40,0.213,6.0,14.0,0.99940,3.19,0.62,9.5,6
308,10.3,0.430,0.44,2.40,0.214,5.0,12.0,0.99940,3.19,0.63,9.5,6
309,7.4,0.290,0.38,1.70,0.062,9.0,30.0,0.99680,3.41,0.53,9.5,6
4888,6.8,0.220,0.36,1.20,0.052,38.0,127.0,0.99330,3.04,0.54,9.2,5
4889,4.9,0.235,0.27,11.75,0.030,34.0,118.0,0.99540,3.07,0.50,9.4,6
4890,6.1,0.340,0.29,2.20,0.036,25.0,100.0,0.98938,3.06,0.44,11.8,6
4891,5.7,0.210,0.32,0.90,0.038,38.0,121.0,0.99074,3.24,0.46,10.6,6
4892,6.5,0.230,0.38,1.30,0.032,29.0,112.0,0.99298,3.29,0.54,9.7,5
4893,6.2,0.210,0.29,1.60,0.039,24.0,92.0,0.99114,3.27,0.50,11.2,6
4894,6.6,0.320,0.36,8.00,0.047,57.0,168.0,0.99490,3.15,0.46,9.6,5
4895,6.5,0.240,0.19,1.20,0.041,30.0,111.0,0.99254,2.99,0.46,9.4,6
4896,5.5,0.290,0.30,1.10,0.022,20.0,110.0,0.98869,3.34,0.38,12.8,7
4897,6.0,0.210,0.38,0.80,0.020,22.0,98.0,0.98941,3.26,0.32,11.8,6

## Datos distribuidos

### Esto es una matriz sparset

In [22]:
data = pd.read_csv('./datasets/distributed-data/001.csv')
data.head()

         Date  sulfate  nitrate  ID
0  2003-01-01      NaN      NaN   1
1  2003-01-02      NaN      NaN   1
2  2003-01-03      NaN      NaN   1
3  2003-01-04      NaN      NaN   1
4  2003-01-05      NaN      NaN   1

In [23]:
data.shape

(1461, 4)

## importar el primer fichero
## hacemos un bucle para ir recorriendo todos y cada uno de lo ficheros.
##    - tener consistencia en los nombres
##    - importamos los ficheros uno a uno
##    - Cada fichero debe de agregarse 
## repetimos el bucle hasta que no vea ficheros

In [24]:
filepath = './datasets/distributed-data/'
data = pd.read_csv('./datasets/distributed-data/001.csv')
for i in range(2, 333):
    if i < 10:
        filename = f'00{i}'
    elif 10 <= i < 100:
        filename = f'0{i}'
    else:
        filename = str(i)
    file  = f'{filepath}{filename}.csv'
    temp_data = pd.read_csv(file)

    data = pd.concat([data, temp_data], axis=0)

In [25]:
data.shape

(772087, 4)

In [26]:
data.tail()

           Date  sulfate  nitrate   ID
726  2004-12-27      NaN      NaN  332
727  2004-12-28      NaN      NaN  332
728  2004-12-29      NaN      NaN  332
729  2004-12-30      NaN      NaN  332
730  2004-12-31      NaN      NaN  332

## Joins de datasets

In [27]:
filepath = './datasets/athletes/'

In [28]:
datamain = pd.read_csv(f'{filepath}Medals.csv', encoding='ISO-8859-1')

In [29]:
datamain.head()

,Athlete,Age,Year,Closing Ceremony Date,Gold Medals,Silver Medals,Bronze Medals,Total Medals
0,Michael Phelps,23.0,2008,08/24/2008,8,0,0,8
1,Michael Phelps,19.0,2004,08/29/2004,6,0,2,8
2,Michael Phelps,27.0,2012,08/12/2012,4,2,0,6
3,Natalie Coughlin,25.0,2008,08/24/2008,1,2,3,6
4,Aleksey Nemov,24.0,2000,10/01/2000,2,1,3,6

In [30]:
a = datamain['Athlete'].unique().tolist()
len(a)

6956

In [31]:
datamain.shape

(8618, 8)

In [32]:
data_country = pd.read_csv(f'{filepath}Athelete_Country_Map.csv', encoding='ISO-8859-1')

In [33]:
data_country.shape

(6970, 2)

In [34]:
data_sport = pd.read_csv(f'{filepath}Athelete_Sports_Map.csv', encoding='ISO-8859-1')

In [35]:
data_sport.shape[0]

6975

In [42]:
data_country_dp = data_country.drop_duplicates(subset='Athlete')

In [43]:
len(data_country_dp) == len(a)

True

In [44]:
data_main_country = pd.merge(left=datamain, right=data_country_dp,
                            left_on='Athlete', right_on='Athlete')

In [45]:
data_main_country.shape

(8618, 9)

In [46]:
data_sport_dp = data_sport.drop_duplicates(subset='Athlete')

In [47]:
len(data_sport_dp) == len(a)

True

In [48]:
data_final = pd.merge(left=data_main_country, right=data_sport_dp, left_on='Athlete', right_on='Athlete')

In [49]:
data_final.head()

,Athlete,Age,Year,Closing Ceremony Date,Gold Medals,Silver Medals,Bronze Medals,Total Medals,Country,Sport
0,Michael Phelps,23.0,2008,08/24/2008,8,0,0,8,United States,Swimming
1,Michael Phelps,19.0,2004,08/29/2004,6,0,2,8,United States,Swimming
2,Michael Phelps,27.0,2012,08/12/2012,4,2,0,6,United States,Swimming
3,Natalie Coughlin,25.0,2008,08/24/2008,1,2,3,6,United States,Swimming
4,Natalie Coughlin,21.0,2004,08/29/2004,2,2,1,5,United States,Swimming

In [50]:
data_final.shape

(8618, 10)