# Las matematicas tras la regresion logistica
## Las tablas de contigencia

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('./datasets/gender-purchase/Gender Purchase.csv')
df.head(3)

   Gender Purchase
0  Female      Yes
1  Female      Yes
2  Female       No

In [3]:
df.shape

(511, 2)

In [5]:

contingency_table = pd.crosstab(df.Gender, df.Purchase)
contingency_table

Purchase   No  Yes
Gender
Female    106  159
Male      125  121

In [17]:
sum_gender = contingency_table.sum(axis=1)

In [13]:
contingency_table.sum(axis=0)

Purchase
No     231
Yes    280
dtype: int64

In [19]:
contingency_table.astype('float').div(sum_gender, axis=0)

Purchase       No      Yes
Gender
Female    0.40000  0.60000
Male      0.50813  0.49187

# La probabilidad condicional

### Cual es la probabilidad de que un cliente compre un producto sabiendo que es hombre?
### Cual es la probabilidad de que sabiendo que un cliente compre un producto sea mujer?

# $P(Purchase|Male) = \frac{nro.\ total\ de\ compras\ por\ hombres}{nro.\ total\ de\ hombres} = \frac{Purchase \cap Male}{Male}$

In [23]:
121/246

0.491869918699187

# $P(Female|Purchase) =\frac{nro. \ total \ de \ compras \ por \ mujeres}{nro \ total \ de \ mujeres} = \frac{Female \cap Purchase}{Female}$

In [24]:
159/280

0.5678571428571428