# Las matematicas tras la regresion logistica
## Las tablas de contigencia

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('./datasets/gender-purchase/Gender Purchase.csv')
df.head(3)

   Gender Purchase
0  Female      Yes
1  Female      Yes
2  Female       No

In [3]:
df.shape

(511, 2)

In [5]:

contingency_table = pd.crosstab(df.Gender, df.Purchase)
contingency_table

Purchase   No  Yes
Gender
Female    106  159
Male      125  121

In [17]:
sum_gender = contingency_table.sum(axis=1)

In [13]:
contingency_table.sum(axis=0)

Purchase
No     231
Yes    280
dtype: int64

In [19]:
contingency_table.astype('float').div(sum_gender, axis=0)

Purchase       No      Yes
Gender
Female    0.40000  0.60000
Male      0.50813  0.49187

# La probabilidad condicional

### Cual es la probabilidad de que un cliente compre un producto sabiendo que es hombre?
### Cual es la probabilidad de que sabiendo que un cliente compre un producto sea mujer?

# $P(Purchase|Male) = \frac{nro.\ total\ de\ compras\ por\ hombres}{nro.\ total\ de\ hombres} = \frac{Purchase \cap Male}{Male}$

In [23]:
121/246

0.491869918699187

# $P(Female|Purchase) =\frac{nro. \ total \ de \ compras \ por \ mujeres}{nro \ total \ de \ mujeres} = \frac{Female \cap Purchase}{Female}$

In [24]:
159/280

0.5678571428571428

# Ratio de probabilidades
### Cociente entre los casos de éxito sobre los de fracaso en el suceso estudiado y para cada grupo

## $P_m = Probabilidad \ de \ compra, \ sabiendo \ que \ sea \ hombre$
## $P_f = Probabilidad \ de \ compra, \ sabiendo \ que \ sea \ mujer$
# $odds\in[0, +\infty]$
# $odds_{purchase, male} = \frac{P_m}{1-P_m} = \frac{N_{p,m}}{N_{\bar{p},m}}$
# $odds_{purchase, female} = \frac{P_f}{1-P_f} = \frac{N_{p,f}}{N_{\bar{p},f}}$

In [1]:
pm = 121/246
pf = 159/265
odds_m = pm/(1-pm)
odds_f = pf/(1-pf)

In [3]:
odds_m

0.9680000000000002

In [4]:
odds_f

1.4999999999999998

- Si el ratio es superior a 1, es más probable el éxito que el fracaso
- Si el ratio es igual a 1, éxito y fracaso son equiprobables (p = 0.5)
- Si el ratio es menor a 1, el fracaso es más probable que el éxito

# $odds_{ratio} =\frac{odds_{purchase, \ male}}{odds_{purchase, \ female}}$

In [6]:
odds_ratio = odds_m/odds_f
odds_ratio

0.6453333333333335

# La regresión logística desde la regresión lineal

# $y = \beta_0 + \beta_1 \cdot x$
# $(x, y) \in{[-\infty, +\infty]}ˆ2$
# $y \in [0, 1]$
# $P \in [0, 1]$
# $P = \beta_0 + \beta_1 \cdot x$

## P es la probabilidad condicionada de éxito o de fracaso condicionada a la presencia de la variable X

# $\frac{P}{1-P} = \beta_0 + \beta_1 \cdot x \in [0, +\infty]$